#searchBarContainer {
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-left: 118px;
    margin-top: 30px;
}

.lightModeBoxShadow {
    box-shadow: 2px 2px 2px 2px hsl(0, 0%, 98%);
}

.drkModeBoxShadow {
    box-shadow: 2px 2px 2px 2px hsl(207, 26%, 17%);
}


#searchInput {
    border: none;
    outline: none;
    width: 325px;
    font-size: larger;
    padding: 10px;
}

#searchIcon {
    margin: 10px;
    height: 20px;
}

#filterBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#regionNames {
    margin-top: 30px;
    margin-right: 118px;
    height: fit-content;
    font-size: larger;
    padding: 10px;
    border: none;
    position: relative;
    display: inline-block;
}

#cardContainer {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    margin-top: 40px;
}

#countryInfoContainer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}

#countryFlag {
    width: 100%;
    height: 50%;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    height: 15%;
}

.countrySpan {
    align-self: center;
}

.countryInfo {
    margin: 0;
    align-self: center;
    margin-right: 5px;
}

#countryCardsListedContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

@media screen and (max-width: 420px ) {
    #filterBarContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #searchBarContainer {
        width: 318px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
    }

    #regionNames {
        margin-top: 30px;
        margin-right: 20px;
        margin-left: 20px;
        height: fit-content;
        font-size: larger;
        padding: 10px;
        border: none;
        position: relative;
        display: inline-block;
    }
}
