@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
html * {
  font-family: 'Nunito Sans', sans-serif;
}
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0 8px white;
  height: 80px;
}

#headerTitle {
  font-size: 20px;
  font-weight: bolder;
  align-self: center;
}

#themeMode {
  font-size: 15px;
}

#darkModeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 150px;
  align-content: center;
  align-self: center;
}

#darkMode {
  width: 20px;
  height: 20px;
}

#lightMode {
  width: 20px;
  height: 20px;
}

.headerMargins {
  margin-left: 40px;
  margin-right: 40px;
}

.drkModeElem {
  background-color: hsl(209, 23%, 22%);
  color: hsl(209, 23%, 22%);
}

.drkModeBackground {
  background-color: hsl(207, 26%, 17%);
  width: 100vw;
  height: fit-content;
  padding-top: 15px;
  padding-bottom: 50px;
}

.lightModeText {
  color: hsl(200, 15%, 8%);
}

.lightModeText::placeholder {
  color: hsl(200, 15%, 8%);
}

.lightModeInput {
  color: hsl(0, 0%, 52%);
}

.lightModeBackground {
  background-color: hsl(0, 0%, 98%);
  width: 100vw;
  height: fit-content;
  padding-top: 15px;
  padding-bottom: 50px;
}

.lightModeElem {
  background-color: hsl(0, 0%, 100%);
}

.drkModeText {
  color: hsl(0, 0%, 100%);
}

#darkModeButton {
  border: none;
}


