@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

#headerTitle {
  font-size: 20px;
  font-weight: bolder;
}

#themeMode {
  font-size: 15px;
}
